<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeLeaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Display Poli</title>
    <object th:include="fragments/fragment :: getBootstrap" th:remove="tag"></object>
    <object th:include="fragments/fragment :: css-js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="text-center">
        <div class="h3 m-3"><i>Sistem Informasi Dokter</i></div>
        <div class="row d-flex justify-content-center">
            <div></div>
            <div class="card shadow">
                <div class="card-header bg-dark text-light">Daftar Poli</div>
                <div class="card-body">
                    <table class="table table-responsive-sm">
                        <thead>
                            <tr>
                                <th scope="row">No</th>
                                <th scope="row">Nama</th>
                                <th scope="row">Lokasi</th>
                                <th scope="row">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="poli, rowStat : ${listPoli}">
                                <td scope="row" th:text="${rowStat.count}"></td>
                                <td scope="row"><a th:href="@{/poli/dokter/{idPoli} (idPoli=${poli.idPoli})}" th:text="${poli.namaPoli}"></a></td>
                                <td scope="row" th:text="${poli.lokasi}"></td>
                                <td scope="row"class="button-group">
                                    <button class="btn btn-dark">
                                        <a th:href="@{/poli/update/{idPoli}(idPoli=${poli.idPoli})}" style="text-decoration: none; color: white;">ubah</a>
                                    </button>
                                    <button class="btn btn-danger">
                                        <a th:href="@{/poli/delete/{idPoli}(idPoli=${poli.idPoli})}" style="text-decoration: none; color: white;">hapus</a>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <button class="btn btn-primary"><i class='fas fa-plus' style="size: 12px;"></i><a style="color:white; text-decoration: none;" th:href="@{/poli/tambah}"> Tambah Poli</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>